<div class="container">
  <br>
  <ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link nav-item"  routerLink="" routerLinkActive="active"  [routerLinkActiveOptions]="{exact:true}" >Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link nav-item"   [routerLink]="['user']" routerLinkActive="active">user</a>
  </li>
  <li class="nav-item">
    <a class="nav-link nav-item" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
  </li>

</ul>

<router-outlet></router-outlet>

</div>

